In [1]:
import numpy as np #imported libraries used numpy to handle mathamtical operation and pandas to handle dataset
import pandas as pd

In [2]:
movies = pd.read_csv(r"C:/Users/Pavithra I/Downloads/dataset/rotten_tomatoes_movies.csv") #loading dataset I use pd.read_csv to bring these CSV files into Pandas DataFrames
credits = pd.read_csv(r"C:/Users/Pavithra I/Downloads/dataset/rotten_tomatoes_movie_reviews.csv")

In [3]:
movies.head(1)

,id,title,audienceScore,tomatoMeter,rating,ratingContents,releaseDateTheaters,releaseDateStreaming,runtimeMinutes,genre,originalLanguage,director,writer,boxOffice,distributor,soundMix
0,space-zombie-bingo,Space Zombie Bingo!,50.0,NaN,NaN,NaN,NaN,2018-08-25,75.0,"Comedy, Horror, Sci-fi",English,George Ormrod,"George Ormrod,John Sabotta",NaN,NaN,NaN

In [4]:
credits.head(1)

,id,reviewId,creationDate,criticName,isTopCritic,originalScore,reviewState,publicatioName,reviewText,scoreSentiment,reviewUrl
0,beavers,1145982,2003-05-23,Ivan M. Lincoln,False,3.5/4,fresh,Deseret News (Salt Lake City),Timed to be just long enough for most youngste...,POSITIVE,http://www.deseretnews.com/article/700003233/B...

In [5]:
merged_df = movies.merge(credits, on='id', how='inner') #merged 2 dataset toghter 

# Print the columns of the merged DataFrame
print(merged_df.columns)

Index(['id', 'title', 'audienceScore', 'tomatoMeter', 'rating',
       'ratingContents', 'releaseDateTheaters', 'releaseDateStreaming',
       'runtimeMinutes', 'genre', 'originalLanguage', 'director', 'writer',
       'boxOffice', 'distributor', 'soundMix', 'reviewId', 'creationDate',
       'criticName', 'isTopCritic', 'originalScore', 'reviewState',
       'publicatioName', 'reviewText', 'scoreSentiment', 'reviewUrl'],
      dtype='object')

In [6]:
movies.head(1)

,id,title,audienceScore,tomatoMeter,rating,ratingContents,releaseDateTheaters,releaseDateStreaming,runtimeMinutes,genre,originalLanguage,director,writer,boxOffice,distributor,soundMix
0,space-zombie-bingo,Space Zombie Bingo!,50.0,NaN,NaN,NaN,NaN,2018-08-25,75.0,"Comedy, Horror, Sci-fi",English,George Ormrod,"George Ormrod,John Sabotta",NaN,NaN,NaN

In [7]:
print(movies.columns)
print(credits.columns)

Index(['id', 'title', 'audienceScore', 'tomatoMeter', 'rating',
       'ratingContents', 'releaseDateTheaters', 'releaseDateStreaming',
       'runtimeMinutes', 'genre', 'originalLanguage', 'director', 'writer',
       'boxOffice', 'distributor', 'soundMix'],
      dtype='object')
Index(['id', 'reviewId', 'creationDate', 'criticName', 'isTopCritic',
       'originalScore', 'reviewState', 'publicatioName', 'reviewText',
       'scoreSentiment', 'reviewUrl'],
      dtype='object')

In [8]:
movies.info() #checking dataset for null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143258 entries, 0 to 143257
Data columns (total 16 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    143258 non-null  object
 1   title                 142891 non-null  object
 2   audienceScore         73248 non-null   float64
 3   tomatoMeter           33877 non-null   float64
 4   rating                13991 non-null   object
 5   ratingContents        13991 non-null   object
 6   releaseDateTheaters   30773 non-null   object
 7   releaseDateStreaming  79420 non-null   object
 8   runtimeMinutes        129431 non-null  float64
 9   genre                 132175 non-null  object
 10  originalLanguage      129400 non-null  object
 11  director              139041 non-null  object
 12  writer                90116 non-null   object
 13  boxOffice             14743 non-null   object
 14  distributor           23001 non-null   object
 15  soundMix              15917 non-null   object
dtypes: float64(3), object(13)
memory usage: 17.5+ MB

In [9]:
#title
#genre
#originallanguage 
#runtime
#director
#audience score 
#releasedate
#choosing required data only from dataset 

movies = movies[['title', 'audienceScore', 'tomatoMeter', 'director', 'runtimeMinutes', 'genre', 'writer', 'originalLanguage', 'releaseDateStreaming']]

In [10]:
movies.head(1)

,title,audienceScore,tomatoMeter,director,runtimeMinutes,genre,writer,originalLanguage,releaseDateStreaming
0,Space Zombie Bingo!,50.0,NaN,George Ormrod,75.0,"Comedy, Horror, Sci-fi","George Ormrod,John Sabotta",English,2018-08-25

In [11]:
print(movies.columns)

Index(['title', 'audienceScore', 'tomatoMeter', 'director', 'runtimeMinutes',
       'genre', 'writer', 'originalLanguage', 'releaseDateStreaming'],
      dtype='object')

In [12]:
movies.isnull().sum() #to count how many missing values are in each column

title                      367
audienceScore            70010
tomatoMeter             109381
director                  4217
runtimeMinutes           13827
genre                    11083
writer                   53142
originalLanguage         13858
releaseDateStreaming     63838
dtype: int64

In [13]:
movies = movies[['title', 'audienceScore', 'tomatoMeter', 'director', 'runtimeMinutes', 'genre', 'writer', 'originalLanguage', 'releaseDateStreaming']].copy()

movies = movies.dropna()

In [14]:
print(movies.head())

                                              title  audienceScore  \
5                                            Adrift           65.0
9                                      Born to Kill           74.0
13  Leap of Faith: William Friedkin on The Exorcist           86.0
22                             Escape From Alcatraz           85.0
49                                            Salty           38.0

    tomatoMeter               director  runtimeMinutes  \
5          69.0      Baltasar Kormákur           120.0
9          83.0            Robert Wise            92.0
13         93.0  Alexandre O. Philippe           104.0
22         97.0             Don Siegel           107.0
49          0.0             Simon West            86.0

                                genre  \
5           Adventure, Drama, Romance
9                        Crime, Drama
13    Documentary, Mystery & thriller
22  Mystery & thriller, Drama, Action
49                     Comedy, Action

                                              writer  \
5   Aaron Kandell,Jordan Kandell,David Branson Smith
9                        Eve Greene,Richard Macaulay
13                             Alexandre O. Philippe
22                                    Richard Tuggle
49                    Toby Davies,Mark Haskell Smith

            originalLanguage releaseDateStreaming
5                    English           2018-08-21
9                    English           2016-05-23
13                   English           2020-11-19
22                   English           1999-03-09
49  English (United Kingdom)           2017-11-07

In [15]:
print("Shape:", movies.shape) # prints number of rows and columns in the dataset

Shape: (22203, 9)

In [16]:
print(movies.isnull().sum()) #to check if u need to clean data further

title                   0
audienceScore           0
tomatoMeter             0
director                0
runtimeMinutes          0
genre                   0
writer                  0
originalLanguage        0
releaseDateStreaming    0
dtype: int64

In [17]:
movies.to_csv("cleaned_movies.csv", index=False) # Save the cleaned dataset as a new CSV file without row index

In [18]:
movies.duplicated().sum()  #counts how many duplicate rows in dataset

207

In [19]:
movies.drop_duplicates(inplace=True)

In [20]:
print("Remaining rows after dropping duplicates:", movies.shape[0])

Remaining rows after dropping duplicates: 21996

In [21]:
movies.iloc[0].genre #checked genre format

'Adventure, Drama, Romance'

In [22]:
movies['genre'] = movies['genre'].apply(lambda x: [g.strip() for g in x.split(',')]) #Converted the genre column into a list of genres

In [23]:
print(movies.iloc[0]['genre'])  # Print the 'genre' value of the first movie (row 0) to check its format

['Adventure', 'Drama', 'Romance']

In [24]:
movies['tags'] = movies['genre'].apply(lambda x: ' '.join(x)) + " " + \
                 movies['director'] + " " + \
                 movies['writer'] + " " + \
                 movies['originalLanguage'] #created a tags column which merges genre, director, writer, and language into one text field

In [25]:
print(movies[['title', 'tags']].head())

                                              title  \
5                                            Adrift
9                                      Born to Kill
13  Leap of Faith: William Friedkin on The Exorcist
22                             Escape From Alcatraz
49                                            Salty

                                                 tags
5   Adventure Drama Romance Baltasar Kormákur Aaro...
9   Crime Drama Robert Wise Eve Greene,Richard Mac...
13  Documentary Mystery & thriller Alexandre O. Ph...
22  Mystery & thriller Drama Action Don Siegel Ric...
49  Comedy Action Simon West Toby Davies,Mark Hask...

In [26]:
print(movies['tags'].isna().sum())
# Check for missing (NaN) values in the newly created 'tags' column

0

In [27]:
print(movies['tags'].iloc[0])
# Print the first row's 'tags' value to verify how the combined text looks

Adventure Drama Romance Baltasar Kormákur Aaron Kandell,Jordan Kandell,David Branson Smith English

In [28]:
movies['tags'].apply(lambda x: x.lower())

5         adventure drama romance baltasar kormákur aaro...
9         crime drama robert wise eve greene,richard mac...
13        documentary mystery & thriller alexandre o. ph...
22        mystery & thriller drama action don siegel ric...
49        comedy action simon west toby davies,mark hask...
                                ...
143203             action eric karson leigh chapman english
143205    adventure comedy drama lena dunham lena dunham...
143213    mystery & thriller mike burns bill lawrence en...
143236    documentary ron mann charles lippincott,ron ma...
143250      holiday comedy josh schwartz max werner english
Name: tags, Length: 21996, dtype: object

In [29]:
movies.head(1)

,title,audienceScore,tomatoMeter,director,runtimeMinutes,genre,writer,originalLanguage,releaseDateStreaming,tags
5,Adrift,65.0,69.0,Baltasar Kormákur,120.0,"[Adventure, Drama, Romance]","Aaron Kandell,Jordan Kandell,David Branson Smith",English,2018-08-21,Adventure Drama Romance Baltasar Kormákur Aaro...

In [30]:
movies = movies.reset_index(drop=True)

In [31]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(max_features=5000, stop_words='english') #Converts text (tags) into a numerical bag of words matrix

In [32]:
vector = cv.fit_transform(movies['tags']).toarray() #Each movie’s tags become a vector of length 5000 (presence/absence of words)

In [33]:
vector.shape

(21996, 5000)

In [34]:
from sklearn.metrics.pairwise import cosine_similarity #Measures closeness between two movies by angle between their tag-vectors

In [ ]:
similarity = cosine_similarity(vector)

In [ ]:
similarity

In [ ]:
print(movies['title'].str.contains('Lego', case=False).sum())
print(movies[movies['title'].str.contains('Lego', case=False)])

In [ ]:

def recommend(movie):
    movie = movie.lower()
    movies['title_lower'] = movies['title'].str.lower()

    if movie not in movies['title_lower'].values:
        print(f"Movie '{movie}' not found in the dataset.")
        return

    index = movies[movies['title_lower'] == movie].index[0]     # Get index of the given movie
    distances = sorted(list(enumerate(similarity[index])), reverse=True, key=lambda x: x[1]) # Sort movies based on similarity score (highest first)
    
    print(f"\nTop 5 recommendations for '{movie.title()}':")
    for i in distances[1:6]:
        print(movies.iloc[i[0]].title)

In [ ]:
recommend('Avatar')

In [ ]:
import pickle